flow.json
[
    {
        "id": "361229b3aca0af1b",
        "type": "tab",
        "label": "Timelapse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9758c373e6e7771",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Timelapse Editor",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "7d4d478c87c1da8c",
            "257e2ea0255e3e19",
            "46ab54eb5016f7e5",
            "b16a0c72a653e76b",
            "3b992f41621aed48",
            "4237d24c67663477",
            "b3d3bfaa5fb46c59",
            "62735f6c76841fda",
            "5a53503ce68fc2cb",
            "cddd5ce4c8cfcadc",
            "89bfd40cc8fea2d1",
            "1c894029a0995f7a",
            "215a7a6e4d1bee1f",
            "008f916c70eef804",
            "4f5d4ecf0bcd4f7f",
            "56e6d75c470dea70",
            "bf5cd4eeb244bb1f",
            "c7638c4fb3dc1efe",
            "eef9cdfcb7f9cda0",
            "c264868a55e49981",
            "0d97b23dccaada22",
            "d1d754fe1257afe7",
            "51079f8ab236d28e",
            "2bc396463773a2d6",
            "02971c8d9ca3dcda",
            "3a5df4a8aa79ebc8",
            "882c2f352b59914a",
            "41e3d1725ccb9348",
            "d145315e6ce8c9fd",
            "585f37794f3317d8",
            "a294402cf193463f",
            "882efbdeb4a79a7b",
            "1bd05eea0a996049",
            "4c7c3eea830319d2",
            "a70300a91fceb238",
            "c150d4f477f80c8d",
            "2da2ef195afb27d2",
            "21397e2c9d848807",
            "9937e71ad8ef731a",
            "c546bbe99fab8ad5",
            "0590050ac7ad747d",
            "dacc6303b363dd98",
            "e4db900f72bc1c14",
            "1260cab30d8011b3",
            "9da17036c5269004",
            "2fc8a4ede87eee7a",
            "5b09e0eab744c1c1",
            "a9e20143e7f54ffb",
            "639aa1bb6cf4b757",
            "c66a6a46d9775d5a",
            "d4545ce7866d7746",
            "123f1893796263d3",
            "82695b5ada037c6e",
            "552f2fdc9e1a30cc",
            "99c12ca2604e29fd",
            "a6a6e754e39d1c35",
            "f4bed7533ba9cb48"
        ],
        "x": 274,
        "y": 1439,
        "w": 1322,
        "h": 742
    },
    {
        "id": "de0b711405fcc452",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Image Viewer",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "89b98e6f82bb2021",
            "ce0eeff6ba9a0342",
            "72a72be1bcdd6a6b",
            "bbef7c3dd0e6aab4",
            "0dedc019dad43eca",
            "e0cb72171dad410e",
            "74289c93fb5f1e69",
            "66795f96ee5eb320",
            "b9daa4f69d2ca330",
            "c59c99fcfb9674f7",
            "5b72260be5ec3752",
            "ca05fb1a3078042a",
            "dc0f5ca97dbe06cb",
            "b5a619ea1e40e43e",
            "b280b1523aa89759",
            "d03c2f8e92752aab",
            "f9b3036a85371d98",
            "f26bf535d59ae627",
            "7cc91be42fb37f0f"
        ],
        "x": 274,
        "y": 399,
        "w": 832,
        "h": 342
    },
    {
        "id": "6b1d195fb18f7a42",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Timelapse Recording List",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8896aa5a2081f24c",
            "a84cb7f431766f69",
            "1bad756f2459b106",
            "ca5d596dd74fe9b8",
            "c5ac2edb16d02367"
        ],
        "x": 274,
        "y": 239,
        "w": 692,
        "h": 107
    },
    {
        "id": "e171c91d5a87efa7",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Triggers & captures",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ad5f1448d34d6645",
            "b26085d5c98808d1",
            "c32e94a827410105",
            "428b35e65e766230",
            "997c6c4f5d0b1d03",
            "2aaf2b947add0a9e",
            "21bea22ed0af4694",
            "30e0a566852f43c2",
            "9f6339cc197a86dd",
            "171d67bb274ee8b6",
            "f53fac402d4d5ebe",
            "28e316e71d8016b9",
            "6949b174ca8ac8e5",
            "ac245d24acebc7c6",
            "b4f350f8077246fa",
            "7c49757207add760",
            "3d5120b481f999fc",
            "79e45187e9e559fc",
            "c110f3d38a0eb795",
            "af2fa19c99074e0a",
            "ffc9d2301c245ff2",
            "627eea88add32d28",
            "54b139f717428455",
            "61102d00994f7264",
            "b7d3acfdba8d65b4",
            "291df11138a58b64",
            "6a0db0eb67b2c26a",
            "8e3bfe0c6789692c",
            "aec71a9a3738ae28",
            "24cd8876e6cca5ad"
        ],
        "x": 274,
        "y": 1019,
        "w": 1772,
        "h": 362
    },
    {
        "id": "8ea9106583e04561",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "GeoLocation & Sun Events",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6e2e2117ac1f4ab1",
            "17bd0c9411df7515",
            "8d48e58623e73325",
            "d806e0a611ea9585",
            "672db18eb6e8d40c",
            "a40d3deb29f34c94",
            "9712a4ad0abb27b0",
            "1bc0ab33647e9ba4",
            "2f8ef260b5c6ecf0",
            "3024c5ea910cf848",
            "9a45a75d94517e61",
            "501e84829b260af0",
            "5bcba4c1e3ae3a88",
            "2d95680c52a44d71",
            "17e378d9562c3336",
            "8ad022fa1f73621e",
            "62cb5b2f27f46578",
            "9432d875835d1cc9",
            "a4cd56de202c59f8",
            "484777232c4bfacb",
            "e51e34a86bd9a20c",
            "29a6f2d1c446cb3f",
            "623687e0f41a37d0",
            "49cc32b3e4c4ff73",
            "b92067ab16709879",
            "632c62f115f7527f",
            "435b41e9ad42567a",
            "49b758caf53ee47c",
            "80def1bf7916b35f",
            "5704295442cbbb87",
            "b95065f3815fcc71",
            "a29aa77b89d6f2bf",
            "10edbb0d51d5c1db",
            "85729cdeb28456cc",
            "970e718ff846920a",
            "85729cdeb28456cc",
            "2d95680c52a44d71"
        ],
        "x": 264,
        "y": 2199,
        "w": 932,
        "h": 702
    },
    {
        "id": "47e4a93f5115f31b",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Generate MP4",
        "style": {
            "stroke": "#000000",
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "08b3ae9803d7e929",
            "7cfbebca56d04a21",
            "03132a3c3d059a61",
            "5b7ddb0c1ced4a25",
            "fb4b7acb673457e0",
            "dec7ddec84046ddb",
            "78da2903037feef4",
            "e173b9a9f49bd395",
            "74f416101dd5ec62",
            "6a1e777cb930abc7",
            "ffe48b414c8a4bdb",
            "94c8754e0e07d2b6",
            "c676616b1698cc39"
        ],
        "x": 274,
        "y": 779,
        "w": 1252,
        "h": 182
    },
    {
        "id": "e8e46b96b1dd7f54",
        "type": "group",
        "z": "361229b3aca0af1b",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c568639faa7e15e1",
            "07613787abb5c57b",
            "babd026c42a3d291",
            "d9224ab1be2b7502",
            "f3d2012e948d9fa1",
            "63e28d5de344f27a",
            "220142c5195c60f0",
            "c34c8b9dd4a824f4",
            "b4492f49b1f0df9f",
            "3a5f29c06e4c985f",
            "f4875309ab286a8f"
        ],
        "x": 264,
        "y": 39,
        "w": 952,
        "h": 162
    },
    {
        "id": "3a5df4a8aa79ebc8",
        "type": "junction",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "x": 600,
        "y": 1520,
        "wires": [
            [
                "46ab54eb5016f7e5",
                "56e6d75c470dea70",
                "215a7a6e4d1bee1f",
                "882c2f352b59914a",
                "d4545ce7866d7746"
            ]
        ]
    },
    {
        "id": "882c2f352b59914a",
        "type": "junction",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "x": 670,
        "y": 1680,
        "wires": [
            [
                "0d97b23dccaada22",
                "d1d754fe1257afe7",
                "51079f8ab236d28e",
                "2bc396463773a2d6"
            ]
        ]
    },
    {
        "id": "7cc91be42fb37f0f",
        "type": "junction",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "74289c93fb5f1e69",
                "b280b1523aa89759"
            ]
        ]
    },
    {
        "id": "94c8754e0e07d2b6",
        "type": "junction",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "x": 1500,
        "y": 920,
        "wires": [
            [
                "197b465d9063e68c"
            ]
        ]
    },
    {
        "id": "c5ac2edb16d02367",
        "type": "junction",
        "z": "361229b3aca0af1b",
        "g": "6b1d195fb18f7a42",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "b96405b18f7760e8"
            ]
        ]
    },
    {
        "id": "5eaefc3b518c8a38",
        "type": "ui_group",
        "name": "Create/Edit",
        "tab": "e4b651cdc5b3404d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb7e233362ed3be3",
        "type": "Device Access",
        "name": "camera",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "3979a8f1d70ea446",
        "type": "ui_group",
        "name": "Recordings",
        "tab": "e4b651cdc5b3404d",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d1290ec2fe3f8dd",
        "type": "ui_group",
        "name": "Timelapse",
        "tab": "e4b651cdc5b3404d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69fcc21b90a7194e",
        "type": "ui_group",
        "name": "GeoLocation & Sun Events",
        "tab": "e4b651cdc5b3404d",
        "order": 4,
        "disp": true,
        "width": "23",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e4b651cdc5b3404d",
        "type": "ui_tab",
        "name": "Timelapse",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d4d478c87c1da8c",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "5eaefc3b518c8a38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 970,
        "y": 1520,
        "wires": [
            [
                "4237d24c67663477"
            ]
        ]
    },
    {
        "id": "257e2ea0255e3e19",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "New",
        "func": "msg.payload = {\n    id: msg.payload,\n    name: \"\",\n    resolution: \"1280x720\",\n    fps: 10,\n    trigger: \"Disabled\",\n    address: \"\",\n    user: \"\",\n    password: \"\",\n    mp4: \"Not available\",\n    condition: \"None\"\n}\nflow.set(\"selected\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "3a5df4a8aa79ebc8"
            ]
        ]
    },
    {
        "id": "46ab54eb5016f7e5",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1520,
        "wires": [
            [
                "7d4d478c87c1da8c"
            ]
        ]
    },
    {
        "id": "b16a0c72a653e76b",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "label": "Camera address",
        "tooltip": "",
        "group": "5eaefc3b518c8a38",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1010,
        "y": 1720,
        "wires": [
            [
                "b3d3bfaa5fb46c59"
            ]
        ]
    },
    {
        "id": "3b992f41621aed48",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "label": "Camer account (user)",
        "tooltip": "",
        "group": "5eaefc3b518c8a38",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1020,
        "y": 1760,
        "wires": [
            [
                "62735f6c76841fda"
            ]
        ]
    },
    {
        "id": "4237d24c67663477",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "b3d3bfaa5fb46c59",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.address",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "62735f6c76841fda",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.user",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "5a53503ce68fc2cb",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "label": "Camer password",
        "tooltip": "",
        "group": "5eaefc3b518c8a38",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1010,
        "y": 1800,
        "wires": [
            [
                "cddd5ce4c8cfcadc"
            ]
        ]
    },
    {
        "id": "cddd5ce4c8cfcadc",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "89bfd40cc8fea2d1",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.resolution",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "1c894029a0995f7a",
        "type": "ui_dropdown",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Resolution",
        "label": "Resolution",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaefc3b518c8a38",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1920x1080 [16:9]",
                "value": "1920x1080",
                "type": "str"
            },
            {
                "label": "1280x720 [16:9]",
                "value": "1280x720",
                "type": "str"
            },
            {
                "label": "1024x576 [16:9]",
                "value": "1024x576",
                "type": "str"
            },
            {
                "label": "800x450 [16:9]",
                "value": "800x450",
                "type": "str"
            },
            {
                "label": "640x360 [16:9]",
                "value": "640x360",
                "type": "str"
            },
            {
                "label": "2048x2048 [1:1]",
                "value": "2048x2048",
                "type": "str"
            },
            {
                "label": "1024x1024 [1:1]",
                "value": "1024x1024",
                "type": "str"
            },
            {
                "label": "640x640 [1:1]",
                "value": "640x640",
                "type": "str"
            },
            {
                "label": "Any",
                "value": "Any",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 990,
        "y": 1680,
        "wires": [
            [
                "89bfd40cc8fea2d1"
            ]
        ]
    },
    {
        "id": "215a7a6e4d1bee1f",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1640,
        "wires": [
            [
                "4f5d4ecf0bcd4f7f"
            ]
        ]
    },
    {
        "id": "008f916c70eef804",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.fps",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "4f5d4ecf0bcd4f7f",
        "type": "ui_numeric",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "label": "Frame rate",
        "tooltip": "",
        "group": "5eaefc3b518c8a38",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 990,
        "y": 1640,
        "wires": [
            [
                "008f916c70eef804"
            ]
        ]
    },
    {
        "id": "56e6d75c470dea70",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.trigger",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1560,
        "wires": [
            [
                "bf5cd4eeb244bb1f"
            ]
        ]
    },
    {
        "id": "bf5cd4eeb244bb1f",
        "type": "ui_dropdown",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Trigger",
        "label": "Trigger",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaefc3b518c8a38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "HTTP",
                "value": "HTTP",
                "type": "str"
            },
            {
                "label": "Every minute",
                "value": "Every minute",
                "type": "str"
            },
            {
                "label": "Every 10 minute",
                "value": "Every 10 minute",
                "type": "str"
            },
            {
                "label": "Every hour",
                "value": "Eveyr hour",
                "type": "str"
            },
            {
                "label": "Sun noon",
                "value": "Sun noon",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 980,
        "y": 1560,
        "wires": [
            [
                "c7638c4fb3dc1efe"
            ]
        ]
    },
    {
        "id": "c7638c4fb3dc1efe",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.trigger",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1560,
        "wires": [
            [
                "41e3d1725ccb9348"
            ]
        ]
    },
    {
        "id": "585f37794f3317d8",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "group": "5eaefc3b518c8a38",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1900,
        "wires": [
            [
                "a294402cf193463f"
            ]
        ]
    },
    {
        "id": "a294402cf193463f",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Validate",
        "func": "msg.payload = \"Timelapse\"\nvar selected = flow.get(\"selected\");\nif( !selected ) {\n    msg.payload = \"Create timelapse\";\n    node.send([null,msg]);\n    return;\n}\n\nif (selected.name.length < 2 ) {\n    msg.payload = \"Name must be more than 5 characters\";\n    node.send([null, msg]);\n    return;\n}\n\nif( selected.trigger !== \"HTTP\" ) {\n    if (selected.name.length < 3) {\n        msg.payload = \"Set camera address\";\n        node.send([null, msg]);\n        return;\n    }\n\n    if (selected.address.length < 8) {\n        msg.payload = \"Set camera address\";\n        node.send([null, msg]);\n        return;\n    }\n\n    if (selected.user.length < 3) {\n        msg.payload = \"Set camera user\";\n        node.send([null, msg]);\n        return;\n    }\n\n    if (selected.password.length < 3) {\n        msg.payload = \"Set camera password\";\n        node.send([null, msg]);\n        return;\n    }\n    if (selected.resolution.length < 4) {\n        msg.payload = \"Set camera resolution\";\n        node.send([null, msg]);\n        return;\n    }\n\n}\n\nmsg.payload = selected;\nnode.send([msg,null]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1900,
        "wires": [
            [
                "882efbdeb4a79a7b"
            ],
            [
                "1bd05eea0a996049"
            ]
        ]
    },
    {
        "id": "1bd05eea0a996049",
        "type": "ui_toast",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "882efbdeb4a79a7b",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Source",
        "func": "var selected = flow.get(\"selected\");\nif(selected.trigger === \"HTTP\") {\n    selected.serial = selected.id;\n    flow.set(\"selected\",selected);\n    node.send([msg,null]);\n    return;\n}\n\nmsg.address = msg.payload.address;\nmsg.user = msg.payload.user;\nmsg.password = msg.payload.password;\n\nnode.send([null,msg]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1900,
        "wires": [
            [
                "a70300a91fceb238"
            ],
            [
                "4c7c3eea830319d2"
            ]
        ]
    },
    {
        "id": "4c7c3eea830319d2",
        "type": "Axis device",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "preset": "fb7e233362ed3be3",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 890,
        "y": 1980,
        "wires": [
            [
                "c150d4f477f80c8d"
            ]
        ]
    },
    {
        "id": "21397e2c9d848807",
        "type": "catch",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "scope": [
            "4c7c3eea830319d2"
        ],
        "uncaught": false,
        "x": 700,
        "y": 2020,
        "wires": [
            [
                "9937e71ad8ef731a"
            ]
        ]
    },
    {
        "id": "c150d4f477f80c8d",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Process",
        "func": "if(msg.payload.authenticated === false ) {\n    msg.topic = \"Camera\";\n    msg.payload = \"Invalid user or password\";\n    node.send([null,msg]);\n    return;\n}\n\nvar selected = flow.get(\"selected\");\nselected.serial = msg.payload.serial;\nselected.cameraName = msg.payload.hostname;\nflow.set(\"selected\",selected);\nmsg.payload = selected;\n\nnode.send([msg,null]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1980,
        "wires": [
            [
                "2da2ef195afb27d2",
                "a70300a91fceb238"
            ],
            [
                "c546bbe99fab8ad5"
            ]
        ]
    },
    {
        "id": "c546bbe99fab8ad5",
        "type": "ui_toast",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1250,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "9937e71ad8ef731a",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "function 17",
        "func": "msg.topic = \"Connection error\";\nmsg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2020,
        "wires": [
            [
                "c546bbe99fab8ad5"
            ]
        ]
    },
    {
        "id": "0590050ac7ad747d",
        "type": "ui_toast",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "position": "top right",
        "displayTime": "5",
        "highlight": "green",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2da2ef195afb27d2",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Success",
        "func": "msg.topic = msg.payload.name;\nmsg.payload = \"Saved\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1980,
        "wires": [
            [
                "0590050ac7ad747d"
            ]
        ]
    },
    {
        "id": "a70300a91fceb238",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Save",
        "func": "var timelapse = flow.get(\"timelapse\") || {};\nvar config = null;\nif( timelapse.hasOwnProperty(msg.payload.id) ) {\n    config = timelapse[msg.payload.id];\n} else {\n    config = msg.payload;\n    config.frames = 0;\n    config.size = 0;\n    timelapse[msg.payload.id] = config;\n}\n\nconfig.name = msg.payload.name;\nvar newFilename = msg.payload.name.replace(/\\s/g,'_') + \".mp4\";\nvar oldFilename = config.filename || null;\nif( newFilename !== config.filename ) {\n    oldFilename = config.filename;\n    config.filename = newFilename;\n    config.mp4 = \"Not available\";\n} else {\n    oldFilename = null;\n}\n\nconfig.trigger = msg.payload.trigger;\nconfig.resolution = msg.payload.resolution;\nconfig.fps = msg.payload.fps;\nconfig.condition = msg.payload.condition;\nconfig.mp4 = config.mp4;\nflow.set(\"timelapse\",timelapse);\n\nmsg.payload = config;\nif( oldFilename ) {\n    msg.payload = \"rm -f timelapse/\" + oldFilename;\n    node.send([msg,msg]);\n    return;\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1900,
        "wires": [
            [
                "99c12ca2604e29fd"
            ],
            [
                "552f2fdc9e1a30cc"
            ]
        ]
    },
    {
        "id": "8896aa5a2081f24c",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "6b1d195fb18f7a42",
        "name": "List",
        "func": "var timelapse = flow.get(\"timelapse\") || {};\nvar list = [];\n\nfor( var id in timelapse ) {\n    list.push(timelapse[id]);\n}\nmsg.payload = list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "a84cb7f431766f69"
            ]
        ]
    },
    {
        "id": "a84cb7f431766f69",
        "type": "ui_table",
        "z": "361229b3aca0af1b",
        "g": "6b1d195fb18f7a42",
        "group": "3979a8f1d70ea446",
        "name": "",
        "order": 0,
        "width": "13",
        "height": "11",
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "address",
                "title": "Source",
                "width": "25%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "trigger",
                "title": "Trigger",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "frames",
                "title": "Frames",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "mp4",
                "title": "MP4",
                "width": "20%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "1bad756f2459b106"
            ]
        ]
    },
    {
        "id": "db5abf054e7c6061",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 11",
        "links": [
            "813abe7215e0589c",
            "66ab7e9fc13a3d67",
            "b96405b18f7760e8",
            "b785fdad6a6e4e77",
            "d7f80526ccf9ddd8"
        ],
        "x": 215,
        "y": 1480,
        "wires": [
            [
                "02971c8d9ca3dcda"
            ]
        ]
    },
    {
        "id": "813abe7215e0589c",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "4252a485a084df87",
            "383fa69746213a52",
            "db5abf054e7c6061"
        ],
        "x": 1625,
        "y": 1900,
        "wires": []
    },
    {
        "id": "1bad756f2459b106",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "6b1d195fb18f7a42",
        "name": "Selectd",
        "rules": [
            {
                "t": "set",
                "p": "selected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 280,
        "wires": [
            [
                "c3dc8349013b0673"
            ]
        ]
    },
    {
        "id": "c3dc8349013b0673",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "eef9cdfcb7f9cda0",
            "e9ad4757bad3c731",
            "7b6c239f5c30ca30"
        ],
        "x": 1025,
        "y": 280,
        "wires": []
    },
    {
        "id": "383fa69746213a52",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 12",
        "links": [
            "813abe7215e0589c",
            "66ab7e9fc13a3d67",
            "d7f80526ccf9ddd8",
            "e9600254d0af3021",
            "197b465d9063e68c",
            "17296b78518014f5"
        ],
        "x": 225,
        "y": 280,
        "wires": [
            [
                "ca5d596dd74fe9b8"
            ]
        ]
    },
    {
        "id": "eef9cdfcb7f9cda0",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "link in 13",
        "links": [
            "c3dc8349013b0673"
        ],
        "x": 525,
        "y": 1560,
        "wires": [
            [
                "3a5df4a8aa79ebc8"
            ]
        ]
    },
    {
        "id": "0d97b23dccaada22",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Address",
        "func": "var selected = flow.get(\"selected\");\nif( selected.trigger === \"HTTP\" || msg.payload === \"HTTP\") {\n    msg.payload = \"/timelapse/\" + selected.id;\n    msg.enabled = false;\n    return msg;   \n}\nmsg.payload = msg.payload.address;\nmsg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1720,
        "wires": [
            [
                "b16a0c72a653e76b"
            ]
        ]
    },
    {
        "id": "d1d754fe1257afe7",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "User",
        "func": "var selected = flow.get(\"selected\");\nif (selected.trigger === \"HTTP\" || msg.payload === \"HTTP\") {\n    msg.payload = \"\";\n    msg.enabled = false;\n    return msg;   \n}\nmsg.payload = msg.payload.user;\nmsg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1760,
        "wires": [
            [
                "3b992f41621aed48"
            ]
        ]
    },
    {
        "id": "51079f8ab236d28e",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Password",
        "func": "var selected = flow.get(\"selected\");\nif (selected.trigger === \"HTTP\" || msg.payload === \"HTTP\") {\n    msg.payload = \"\";\n    msg.enabled = false;\n    return msg;   \n}\nmsg.payload = msg.payload.password;\nmsg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1800,
        "wires": [
            [
                "5a53503ce68fc2cb"
            ]
        ]
    },
    {
        "id": "41e3d1725ccb9348",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "d145315e6ce8c9fd"
        ],
        "x": 1435,
        "y": 1560,
        "wires": []
    },
    {
        "id": "d145315e6ce8c9fd",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "link in 14",
        "links": [
            "41e3d1725ccb9348"
        ],
        "x": 525,
        "y": 1680,
        "wires": [
            [
                "882c2f352b59914a"
            ]
        ]
    },
    {
        "id": "2bc396463773a2d6",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Resolution",
        "func": "var selected = flow.get(\"selected\");\nif( selected.trigger === \"HTTP\" || msg.payload === \"HTTP\") {\n    selected.resolution = \"Any\";\n    flow.set(\"selected\", selected);\n    msg.payload = \"Any\";\n    msg.enabled = false;\n    return msg;   \n}\n\nif (selected.resolution === \"Any\" ) {\n    selected.resolution = \"1280x720\";\n    flow.set(\"selected\",selected);\n    msg.payload = selected.resolution;\n    return msg;\n}\n\nmsg.payload = msg.payload.resolution;\nmsg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1680,
        "wires": [
            [
                "1c894029a0995f7a"
            ]
        ]
    },
    {
        "id": "ad5f1448d34d6645",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every 10 minute",
        "property": "payload.trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Every 10 minute",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 1220,
        "wires": [
            [
                "28e316e71d8016b9"
            ]
        ]
    },
    {
        "id": "b26085d5c98808d1",
        "type": "debug",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Error image capture.  Add action if needed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c32e94a827410105",
        "type": "catch",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "scope": [],
        "uncaught": false,
        "x": 1220,
        "y": 1200,
        "wires": [
            [
                "b26085d5c98808d1"
            ]
        ]
    },
    {
        "id": "428b35e65e766230",
        "type": "http in",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "url": "/timelapse/:id",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "997c6c4f5d0b1d03",
                "8e3bfe0c6789692c"
            ]
        ]
    },
    {
        "id": "997c6c4f5d0b1d03",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1100,
        "wires": [
            [
                "2aaf2b947add0a9e"
            ]
        ]
    },
    {
        "id": "2aaf2b947add0a9e",
        "type": "http response",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 1100,
        "wires": []
    },
    {
        "id": "21bea22ed0af4694",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1900,
        "y": 1060,
        "wires": [
            [
                "aec71a9a3738ae28"
            ]
        ]
    },
    {
        "id": "ca5d596dd74fe9b8",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "6b1d195fb18f7a42",
        "name": "",
        "group": "3979a8f1d70ea446",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "8896aa5a2081f24c",
                "c5ac2edb16d02367"
            ]
        ]
    },
    {
        "id": "dacc6303b363dd98",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "group": "5eaefc3b518c8a38",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 2060,
        "wires": [
            [
                "e4db900f72bc1c14"
            ]
        ]
    },
    {
        "id": "5b09e0eab744c1c1",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "group": "5eaefc3b518c8a38",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 2100,
        "wires": [
            [
                "a9e20143e7f54ffb"
            ]
        ]
    },
    {
        "id": "a9e20143e7f54ffb",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Validate",
        "func": "var selected = flow.get(\"selected\");\nif(!selected)\n    return;\nmsg.payload = \"Remove \" + selected.name +\"?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2100,
        "wires": [
            [
                "639aa1bb6cf4b757"
            ]
        ]
    },
    {
        "id": "639aa1bb6cf4b757",
        "type": "ui_toast",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 2100,
        "wires": [
            [
                "c66a6a46d9775d5a"
            ]
        ]
    },
    {
        "id": "c66a6a46d9775d5a",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Remove",
        "func": "var timelapse = flow.get(\"timelapse\");\nif(!timelapse)\n    return;\nvar selected = flow.get(\"selected\");\nif(!selected)\n    return;\ndelete timelapse[selected.id];\nflow.set(\"selected\",null);\nflow.set(\"timelapse\",timelapse);\nmsg.payload = \"rm -r timelapse/images/\" + selected.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2100,
        "wires": [
            [
                "2fc8a4ede87eee7a"
            ]
        ]
    },
    {
        "id": "e4db900f72bc1c14",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Validate",
        "func": "var selected = flow.get(\"selected\");\nif(!selected)\n    return;\nmsg.topic = \"Reset\";\nmsg.payload = \"Remove all images for \" + selected.name +\"?\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2060,
        "wires": [
            [
                "1260cab30d8011b3"
            ]
        ]
    },
    {
        "id": "1260cab30d8011b3",
        "type": "ui_toast",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 2060,
        "wires": [
            [
                "9da17036c5269004"
            ]
        ]
    },
    {
        "id": "9da17036c5269004",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Reset",
        "func": "var timelapse = flow.get(\"timelapse\");\nif(!timelapse)\n    return;\nvar selected = flow.get(\"selected\");\nif(!selected)\n    return;\ntimelapse[selected.id].frames = 0;\nflow.set(\"timelapse\",timelapse);\nmsg.payload = \"rm timelapse/images/\" + selected.id + \"/*\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 2060,
        "wires": [
            [
                "2fc8a4ede87eee7a"
            ]
        ]
    },
    {
        "id": "2fc8a4ede87eee7a",
        "type": "exec",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 2060,
        "wires": [
            [],
            [],
            [
                "d7f80526ccf9ddd8",
                "f4bed7533ba9cb48"
            ]
        ]
    },
    {
        "id": "d7f80526ccf9ddd8",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 23",
        "mode": "link",
        "links": [
            "4252a485a084df87",
            "383fa69746213a52",
            "db5abf054e7c6061"
        ],
        "x": 1625,
        "y": 2060,
        "wires": []
    },
    {
        "id": "02971c8d9ca3dcda",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "group": "5eaefc3b518c8a38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "New",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1480,
        "wires": [
            [
                "c264868a55e49981"
            ]
        ]
    },
    {
        "id": "30e0a566852f43c2",
        "type": "inject",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "9f6339cc197a86dd"
            ]
        ]
    },
    {
        "id": "9f6339cc197a86dd",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1160,
        "wires": [
            [
                "171d67bb274ee8b6"
            ]
        ]
    },
    {
        "id": "171d67bb274ee8b6",
        "type": "split",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1160,
        "wires": [
            [
                "f53fac402d4d5ebe"
            ]
        ]
    },
    {
        "id": "f53fac402d4d5ebe",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every minute",
        "property": "payload.trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Every minute",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1000,
        "y": 1160,
        "wires": [
            [
                "28e316e71d8016b9"
            ]
        ]
    },
    {
        "id": "28e316e71d8016b9",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Camera",
        "func": "msg.timelapse = msg.payload;\nmsg.address = msg.payload.address;\nmsg.user = msg.payload.user;\nmsg.password = msg.payload.password;\nmsg.resolution = msg.payload.resolution;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1160,
        "wires": [
            [
                "6949b174ca8ac8e5"
            ]
        ]
    },
    {
        "id": "6949b174ca8ac8e5",
        "type": "Axis camera",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "preset": "fb7e233362ed3be3",
        "action": "JPEG Image",
        "resolution": "640x360",
        "output": "Buffer",
        "filename": "",
        "options": "",
        "data": "",
        "x": 1410,
        "y": 1160,
        "wires": [
            [
                "6a0db0eb67b2c26a"
            ]
        ]
    },
    {
        "id": "ac245d24acebc7c6",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Save",
        "func": "var timelapse = flow.get(\"timelapse\")\ntimelapse[msg.timelapse.id].frames++;\nflow.set(\"timelapse\", timelapse);\nmsg.filename = \"timelapse/images/\" + msg.timelapse.id + \"/\" + new Date().getTime() + \".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 1060,
        "wires": [
            [
                "21bea22ed0af4694"
            ]
        ]
    },
    {
        "id": "b4f350f8077246fa",
        "type": "inject",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every 10 minutes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "7c49757207add760"
            ]
        ]
    },
    {
        "id": "7c49757207add760",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1220,
        "wires": [
            [
                "3d5120b481f999fc"
            ]
        ]
    },
    {
        "id": "3d5120b481f999fc",
        "type": "split",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1220,
        "wires": [
            [
                "ad5f1448d34d6645"
            ]
        ]
    },
    {
        "id": "79e45187e9e559fc",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every hour",
        "property": "payload.trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Every hour",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "28e316e71d8016b9"
            ]
        ]
    },
    {
        "id": "c110f3d38a0eb795",
        "type": "inject",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Every hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "af2fa19c99074e0a"
            ]
        ]
    },
    {
        "id": "af2fa19c99074e0a",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1280,
        "wires": [
            [
                "ffc9d2301c245ff2"
            ]
        ]
    },
    {
        "id": "ffc9d2301c245ff2",
        "type": "split",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1280,
        "wires": [
            [
                "79e45187e9e559fc"
            ]
        ]
    },
    {
        "id": "e9ad4757bad3c731",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 15",
        "links": [
            "c3dc8349013b0673"
        ],
        "x": 225,
        "y": 440,
        "wires": [
            [
                "ce0eeff6ba9a0342"
            ]
        ]
    },
    {
        "id": "ce0eeff6ba9a0342",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Directory",
        "func": "msg.dirname = \"timelapse/images/\" + msg.payload.id;\nflow.set(\"index\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "89b98e6f82bb2021"
            ]
        ]
    },
    {
        "id": "72a72be1bcdd6a6b",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "files",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 440,
        "wires": [
            [
                "f9b3036a85371d98"
            ]
        ]
    },
    {
        "id": "bbef7c3dd0e6aab4",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "File",
        "func": "var files = flow.get(\"files\");\nmsg.filename = files[flow.get(\"index\")];\nmsg.payload = msg.filename;\nvar items = msg.payload.split(\"/\");\nvar timestamp = items[items.length-1].split(\".\")[0];\nflow.set(\"timestamp\",parseInt(timestamp));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "0dedc019dad43eca"
            ]
        ]
    },
    {
        "id": "0dedc019dad43eca",
        "type": "file in",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "e0cb72171dad410e"
            ]
        ]
    },
    {
        "id": "74289c93fb5f1e69",
        "type": "ui_template",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "group": "2d1290ec2fe3f8dd",
        "name": "",
        "order": 3,
        "width": "12",
        "height": "11",
        "format": "<img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%\">\n\n<script>\n    (function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + msg.payload);\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "66795f96ee5eb320",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Clear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "7cc91be42fb37f0f"
            ]
        ]
    },
    {
        "id": "4252a485a084df87",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 16",
        "links": [
            "b96405b18f7760e8",
            "6da68bab047fd149",
            "813abe7215e0589c",
            "d7f80526ccf9ddd8",
            "66ab7e9fc13a3d67",
            "f26bf535d59ae627",
            "b785fdad6a6e4e77"
        ],
        "x": 215,
        "y": 560,
        "wires": [
            [
                "66795f96ee5eb320"
            ]
        ]
    },
    {
        "id": "b9daa4f69d2ca330",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Next",
        "group": "2d1290ec2fe3f8dd",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "skip_next",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "ca05fb1a3078042a"
            ]
        ]
    },
    {
        "id": "7792f323dca67af3",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 17",
        "links": [
            "dc0f5ca97dbe06cb"
        ],
        "x": 215,
        "y": 500,
        "wires": [
            [
                "bbef7c3dd0e6aab4"
            ]
        ]
    },
    {
        "id": "c59c99fcfb9674f7",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Previous",
        "group": "2d1290ec2fe3f8dd",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "skip_previous",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "5b72260be5ec3752"
            ]
        ]
    },
    {
        "id": "5b72260be5ec3752",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Previous",
        "func": "var index = flow.get(\"index\") || 0;\nindex--;\nif(index < 0)\n    index=0;\nflow.set(\"index\",index);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "dc0f5ca97dbe06cb"
            ]
        ]
    },
    {
        "id": "ca05fb1a3078042a",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "Next",
        "func": "var length = flow.get(\"files\").length - 1;\nvar index = flow.get(\"index\") || 0;\nindex++;\nif(index > length)\n    index=length;\nflow.set(\"index\",index);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 700,
        "wires": [
            [
                "dc0f5ca97dbe06cb"
            ]
        ]
    },
    {
        "id": "dc0f5ca97dbe06cb",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "7792f323dca67af3"
        ],
        "x": 675,
        "y": 660,
        "wires": []
    },
    {
        "id": "b280b1523aa89759",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timestamp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "b5a619ea1e40e43e"
            ]
        ]
    },
    {
        "id": "d03c2f8e92752aab",
        "type": "ui_template",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "group": "2d1290ec2fe3f8dd",
        "name": "Time",
        "order": 3,
        "width": "5",
        "height": "1",
        "format": "<h3><div ng-bind-html=\"msg.payload\"></div></h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6da68bab047fd149",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "4252a485a084df87"
        ],
        "x": 1615,
        "y": 1480,
        "wires": []
    },
    {
        "id": "f9b3036a85371d98",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "f26bf535d59ae627"
            ],
            [
                "bbef7c3dd0e6aab4"
            ]
        ]
    },
    {
        "id": "f26bf535d59ae627",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "4252a485a084df87"
        ],
        "x": 975,
        "y": 440,
        "wires": []
    },
    {
        "id": "17bd0c9411df7515",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Dawn",
        "property": "payload.sunevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dawn",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 2440,
        "wires": [
            [
                "9712a4ad0abb27b0"
            ]
        ]
    },
    {
        "id": "8d48e58623e73325",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Sunrise",
        "property": "payload.sunevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sunrise",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2480,
        "wires": [
            [
                "2f8ef260b5c6ecf0"
            ]
        ]
    },
    {
        "id": "d806e0a611ea9585",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Sun Noon",
        "property": "payload.sunevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "solarNoon",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 900,
        "y": 2520,
        "wires": [
            [
                "9a45a75d94517e61"
            ]
        ]
    },
    {
        "id": "672db18eb6e8d40c",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Sunset",
        "property": "payload.sunevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sunset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2560,
        "wires": [
            [
                "3024c5ea910cf848"
            ]
        ]
    },
    {
        "id": "a40d3deb29f34c94",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Dusk",
        "property": "payload.sunevent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dusk",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 2600,
        "wires": [
            [
                "1bc0ab33647e9ba4"
            ]
        ]
    },
    {
        "id": "9712a4ad0abb27b0",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dawndusk",
                "pt": "flow",
                "to": "true",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "1bc0ab33647e9ba4",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dawndusk",
                "pt": "flow",
                "to": "false",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "2f8ef260b5c6ecf0",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sun",
                "pt": "flow",
                "to": "true",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "3024c5ea910cf848",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sun",
                "pt": "flow",
                "to": "false",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "9a45a75d94517e61",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Sun noon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sun noon",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 2520,
        "wires": [
            [
                "c00ae6869c284140"
            ]
        ]
    },
    {
        "id": "627eea88add32d28",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1340,
        "wires": [
            [
                "54b139f717428455"
            ]
        ]
    },
    {
        "id": "54b139f717428455",
        "type": "split",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1340,
        "wires": [
            [
                "61102d00994f7264"
            ]
        ]
    },
    {
        "id": "61102d00994f7264",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Sun Noon",
        "property": "payload.trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sun noon",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 1340,
        "wires": [
            [
                "28e316e71d8016b9"
            ]
        ]
    },
    {
        "id": "501e84829b260af0",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "label": "Longitude",
        "tooltip": "",
        "group": "69fcc21b90a7194e",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 2380,
        "wires": [
            [
                "b92067ab16709879"
            ]
        ]
    },
    {
        "id": "5bcba4c1e3ae3a88",
        "type": "ui_text_input",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "label": "Latitude",
        "tooltip": "",
        "group": "69fcc21b90a7194e",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 710,
        "y": 2340,
        "wires": [
            [
                "632c62f115f7527f"
            ]
        ]
    },
    {
        "id": "17e378d9562c3336",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "location",
        "func": "msg.payload = flow.get(\"location\") || {\n    name: \"Camera\",\n    lat: 51.4769129,\n    lon: 0,\n    draggable: true\n}\nmsg.payload.ttl = (7*24*3600);\n\nmsg.payload.command = {\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    zoom: 14\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2240,
        "wires": [
            [
                "29a6f2d1c446cb3f",
                "85729cdeb28456cc"
            ]
        ]
    },
    {
        "id": "8ad022fa1f73621e",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "move",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 2860,
        "wires": [
            [
                "62cb5b2f27f46578"
            ]
        ]
    },
    {
        "id": "62cb5b2f27f46578",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Location",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2860,
        "wires": [
            [
                "970e718ff846920a"
            ]
        ]
    },
    {
        "id": "9432d875835d1cc9",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lon",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2380,
        "wires": [
            [
                "501e84829b260af0"
            ]
        ]
    },
    {
        "id": "a4cd56de202c59f8",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2340,
        "wires": [
            [
                "5bcba4c1e3ae3a88"
            ]
        ]
    },
    {
        "id": "484777232c4bfacb",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "link out 28",
        "mode": "link",
        "links": [
            "e51e34a86bd9a20c",
            "623687e0f41a37d0"
        ],
        "x": 1085,
        "y": 2860,
        "wires": []
    },
    {
        "id": "e51e34a86bd9a20c",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "link in 18",
        "links": [
            "484777232c4bfacb",
            "29a6f2d1c446cb3f"
        ],
        "x": 345,
        "y": 2360,
        "wires": [
            [
                "9432d875835d1cc9",
                "a4cd56de202c59f8"
            ]
        ]
    },
    {
        "id": "29a6f2d1c446cb3f",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "link out 29",
        "mode": "link",
        "links": [
            "623687e0f41a37d0",
            "e51e34a86bd9a20c"
        ],
        "x": 645,
        "y": 2280,
        "wires": []
    },
    {
        "id": "623687e0f41a37d0",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "link in 19",
        "links": [
            "29a6f2d1c446cb3f",
            "484777232c4bfacb",
            "435b41e9ad42567a"
        ],
        "x": 355,
        "y": 2440,
        "wires": [
            [
                "49b758caf53ee47c"
            ]
        ]
    },
    {
        "id": "49cc32b3e4c4ff73",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Sunevents",
        "func": "var sunevents = flow.get(\"sunevents\") || {\n    \"Dawn\": { \"timestamp\": 0, \"time\": \"\" },\n    \"Sunrise\": { \"timestamp\": 0, \"time\": \"\" },\n    \"Sun noon\": { \"timestamp\": 0, \"time\": \"\" },\n    \"Sunset\": { \"timestamp\": 0, \"time\": \"\" },\n    \"Dusk\": { \"timestamp\": 0, \"time\": \"\" }\n};\n\nmsg.payload.sunevents.forEach(function(item){\n    var name = null;\n    if (item.event_name === \"sunrise\")\n        name = \"Sunrise\";\n    if (item.event_name === \"sunset\")\n        name = \"Sunset\";\n    if (item.event_name === \"dawn\")\n        name = \"Dawn\";\n    if (item.event_name === \"dusk\")\n        name = \"Dusk\";\n    if (item.event_name === \"solarNoon\")\n        name = \"Sun noon\";\n    if( name ) {\n        var d = new Date(item.datetime);\n        sunevents[name] = {\n            timestamp: d.getTime()\n        }\n        var hours = \"00\" + d.getHours();\n        hours = hours.substring(hours.length-2);\n        var minutes = \"00\" + d.getMinutes();\n        minutes = minutes.substring(minutes.length - 2);\n        var seconds = \"00\" + d.getSeconds();\n        seconds = seconds.substring(seconds.length - 2);\n        sunevents[name].time = hours + \":\" + minutes + \":\" + seconds;\n    }\n});\n\nvar dawndusk = Math.abs(sunevents[\"Dawn\"].timestamp - sunevents[\"Dusk\"].timestamp) / 1000;\nvar hours = parseInt(dawndusk / 3600);\nvar minutes = parseInt((dawndusk - (hours * 3600)) / 60);\nhours = \"00\" + hours;\nhours = hours.substring(hours.length-2);\nminutes = \"00\" + minutes;\nminutes = minutes.substring(minutes.length - 2);\nsunevents.dawntime = hours + \":\" + minutes;\nvar sunrise = Math.abs(sunevents[\"Sunset\"].timestamp - sunevents[\"Sunrise\"].timestamp) / 1000;\nhours = parseInt(sunrise / 3600);\nminutes = parseInt((sunrise - (hours * 3600)) / 60);\nhours = \"00\" + hours;\nhours = hours.substring(hours.length - 2);\nminutes = \"00\" + minutes;\nminutes = minutes.substring(minutes.length - 2);\nsunevents.suntime = hours + \":\" + minutes;\n\nflow.set(\"sunevents\", sunevents);\nmsg.payload = sunevents;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2660,
        "wires": [
            [
                "80def1bf7916b35f",
                "5704295442cbbb87",
                "b95065f3815fcc71",
                "a29aa77b89d6f2bf",
                "10edbb0d51d5c1db"
            ]
        ]
    },
    {
        "id": "b92067ab16709879",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "location.lon",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2380,
        "wires": [
            [
                "435b41e9ad42567a"
            ]
        ]
    },
    {
        "id": "632c62f115f7527f",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "location.lat",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2340,
        "wires": [
            [
                "435b41e9ad42567a"
            ]
        ]
    },
    {
        "id": "435b41e9ad42567a",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "link out 30",
        "mode": "link",
        "links": [
            "4ebbd1d02f7dab3c",
            "623687e0f41a37d0"
        ],
        "x": 1045,
        "y": 2360,
        "wires": []
    },
    {
        "id": "49b758caf53ee47c",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "Convert",
        "func": "var location = flow.get(\"location\");\nif(!location)\n    return;\nmsg.payload = {\n    latitude: location.lat,\n    longitude: location.lon\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2440,
        "wires": [
            [
                "6e2e2117ac1f4ab1"
            ]
        ]
    },
    {
        "id": "80def1bf7916b35f",
        "type": "ui_text",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Dawn",
        "format": "{{msg.payload[\"Dawn\"].time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 2660,
        "wires": []
    },
    {
        "id": "5704295442cbbb87",
        "type": "ui_text",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Sunrise",
        "format": "{{msg.payload[\"Sunrise\"].time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 2700,
        "wires": []
    },
    {
        "id": "b95065f3815fcc71",
        "type": "ui_text",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Sun noon",
        "format": "{{msg.payload[\"Sun noon\"].time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 2740,
        "wires": []
    },
    {
        "id": "a29aa77b89d6f2bf",
        "type": "ui_text",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Sunset",
        "format": "{{msg.payload[\"Sunset\"].time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 2780,
        "wires": []
    },
    {
        "id": "10edbb0d51d5c1db",
        "type": "ui_text",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 8,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Dusk",
        "format": "{{msg.payload[\"Dusk\"].time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 2820,
        "wires": []
    },
    {
        "id": "d4545ce7866d7746",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.condition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "123f1893796263d3"
            ]
        ]
    },
    {
        "id": "123f1893796263d3",
        "type": "ui_dropdown",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "Condition",
        "label": "Condition",
        "tooltip": "",
        "place": "Select option",
        "group": "5eaefc3b518c8a38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Sunrise to Sunset",
                "value": "Sun",
                "type": "str"
            },
            {
                "label": "Office hours",
                "value": "Office",
                "type": "str"
            },
            {
                "label": "Dawn to Dusk",
                "value": "Dawn",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 980,
        "y": 1600,
        "wires": [
            [
                "82695b5ada037c6e"
            ]
        ]
    },
    {
        "id": "82695b5ada037c6e",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.condition",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "b7d3acfdba8d65b4",
        "type": "comment",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Sun noon",
        "info": "",
        "x": 380,
        "y": 1340,
        "wires": []
    },
    {
        "id": "291df11138a58b64",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "link in 21",
        "links": [
            "c00ae6869c284140"
        ],
        "x": 465,
        "y": 1340,
        "wires": [
            [
                "627eea88add32d28"
            ]
        ]
    },
    {
        "id": "c00ae6869c284140",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "Event Sun Noon",
        "mode": "link",
        "links": [
            "291df11138a58b64"
        ],
        "x": 1265,
        "y": 2520,
        "wires": []
    },
    {
        "id": "6a0db0eb67b2c26a",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Condition",
        "func": "if (!msg.timelapse.hasOwnProperty(\"condition\"))\n    return msg;\n\nvar condition = msg.timelapse.condition;\n\nif (condition === \"None\")\n    return msg;\n\nif (condition === \"Dawn\" && flow.get(\"dawndusk\") === true)\n    return msg;\n\nif (condition === \"Sun\" && flow.get(\"sun\") === true)\n    return msg;\n\nif (condition === \"Office\") {\n    var d = new Date();\n    if( d.getDay() === 0 || d.getDay() === 6)\n        return; //Ignore Saturday & Sunday\n    if (d.getHours() >= 7 && d.getHours() <= 17)\n        return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1060,
        "wires": [
            [
                "ac245d24acebc7c6"
            ]
        ]
    },
    {
        "id": "a6f51807107fddc0",
        "type": "comment",
        "z": "361229b3aca0af1b",
        "name": "Event Sun Noon",
        "info": "",
        "x": 1360,
        "y": 2520,
        "wires": []
    },
    {
        "id": "8e3bfe0c6789692c",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "Get Timelapse",
        "func": "var timelapse = flow.get(\"timelapse\");\nif (!timelapse)\n    return;\n\nvar found = null;\nfor (var id in timelapse) {\n    if (id === msg.req.params.id)\n        found = timelapse[id];\n}\n\nif(!found)\n    return;\n\nmsg.timelapse = found;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "6a0db0eb67b2c26a"
            ]
        ]
    },
    {
        "id": "4ebbd1d02f7dab3c",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 20",
        "links": [
            "435b41e9ad42567a",
            "b96405b18f7760e8",
            "b785fdad6a6e4e77"
        ],
        "x": 225,
        "y": 2240,
        "wires": [
            [
                "17e378d9562c3336"
            ]
        ]
    },
    {
        "id": "08b3ae9803d7e929",
        "type": "exec",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "900",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 900,
        "wires": [
            [],
            [],
            [
                "7cfbebca56d04a21",
                "03132a3c3d059a61"
            ]
        ]
    },
    {
        "id": "7cfbebca56d04a21",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "OK",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 880,
        "wires": [
            [
                "74f416101dd5ec62"
            ]
        ]
    },
    {
        "id": "03132a3c3d059a61",
        "type": "switch",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "Fail",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 920,
        "wires": [
            [
                "78da2903037feef4"
            ]
        ]
    },
    {
        "id": "5b7ddb0c1ced4a25",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "Generate",
        "func": "//msg.payload = 'rm -f /home/fred/.node-red/static/' + msg.payload.id + '.mp4';\nmsg.timelapse = flow.get(\"timelapse\")[msg.payload.id];\nmsg.timelapse.mp4 = \"Generating\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 820,
        "wires": [
            [
                "e9600254d0af3021",
                "c676616b1698cc39"
            ]
        ]
    },
    {
        "id": "fb4b7acb673457e0",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "selected",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 820,
        "wires": [
            [
                "5b7ddb0c1ced4a25"
            ]
        ]
    },
    {
        "id": "dec7ddec84046ddb",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "OK",
        "func": "var timelapse = flow.get(\"timelapse\");\ntimelapse[msg.timelapse.id].mp4 = '<a href=\"/recordings/' + msg.timelapse.filename + '\" target=\"_blank\">' + msg.payload + '</a>';\nflow.set(\"timelapse\", timelapse);\nmsg.payload = 'OK';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 880,
        "wires": [
            [
                "94c8754e0e07d2b6"
            ]
        ]
    },
    {
        "id": "78da2903037feef4",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "Failed",
        "func": "var timelapse = flow.get(\"timelapse\");\ntimelapse[msg.timelapse.id].mp4 = \"Failed\";\nflow.set(\"timelapse\", timelapse);\nmsg.payload = 'Failed';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "94c8754e0e07d2b6"
            ]
        ]
    },
    {
        "id": "e9600254d0af3021",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 31",
        "mode": "link",
        "links": [
            "383fa69746213a52",
            "3b1fd01bcef1a420"
        ],
        "x": 1585,
        "y": 820,
        "wires": []
    },
    {
        "id": "197b465d9063e68c",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 32",
        "mode": "link",
        "links": [
            "383fa69746213a52",
            "7b6c239f5c30ca30"
        ],
        "x": 1585,
        "y": 920,
        "wires": []
    },
    {
        "id": "e173b9a9f49bd395",
        "type": "ui_button",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "",
        "group": "2d1290ec2fe3f8dd",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Generate MP4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "fb4b7acb673457e0"
            ]
        ]
    },
    {
        "id": "3b1fd01bcef1a420",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 22",
        "links": [
            "e9600254d0af3021",
            "b96405b18f7760e8",
            "b785fdad6a6e4e77"
        ],
        "x": 215,
        "y": 820,
        "wires": [
            [
                "6a1e777cb930abc7"
            ]
        ]
    },
    {
        "id": "6a1e777cb930abc7",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "Disable",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 820,
        "wires": [
            [
                "e173b9a9f49bd395"
            ]
        ]
    },
    {
        "id": "ffe48b414c8a4bdb",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "Enabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 860,
        "wires": [
            [
                "e173b9a9f49bd395"
            ]
        ]
    },
    {
        "id": "7b6c239f5c30ca30",
        "type": "link in",
        "z": "361229b3aca0af1b",
        "name": "link in 23",
        "links": [
            "197b465d9063e68c",
            "c3dc8349013b0673"
        ],
        "x": 215,
        "y": 860,
        "wires": [
            [
                "ffe48b414c8a4bdb"
            ]
        ]
    },
    {
        "id": "552f2fdc9e1a30cc",
        "type": "exec",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Filename changed",
        "x": 1410,
        "y": 1940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c264868a55e49981",
        "type": "friendly-id",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "mode": "GENERATE-NANOID",
        "charlen": "8",
        "charset": "UPPERCASE",
        "customs": "",
        "tostatus": false,
        "statusVal": "",
        "statusType": "auto",
        "inputFromVal": "",
        "inputFromType": "auto",
        "outputToVal": "",
        "outputToType": "auto",
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "257e2ea0255e3e19",
                "6da68bab047fd149"
            ]
        ]
    },
    {
        "id": "e0cb72171dad410e",
        "type": "base64",
        "z": "361229b3aca0af1b",
        "g": "de0b711405fcc452",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "7cc91be42fb37f0f"
            ]
        ]
    },
    {
        "id": "c568639faa7e15e1",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "init",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "timelapse/recordings/README.md",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Timelapse recordings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 120,
        "wires": [
            [
                "07613787abb5c57b"
            ]
        ]
    },
    {
        "id": "07613787abb5c57b",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "recordings",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1070,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d34557af4f11b2",
        "type": "inject",
        "z": "361229b3aca0af1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "babd026c42a3d291",
                "b4492f49b1f0df9f"
            ]
        ]
    },
    {
        "id": "b96405b18f7760e8",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 25",
        "mode": "link",
        "links": [
            "4252a485a084df87",
            "4ebbd1d02f7dab3c",
            "3b1fd01bcef1a420",
            "db5abf054e7c6061"
        ],
        "x": 1025,
        "y": 320,
        "wires": []
    },
    {
        "id": "f1adbdd9da332b8b",
        "type": "comment",
        "z": "361229b3aca0af1b",
        "name": "User selection",
        "info": "",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "509c8814339cb74d",
        "type": "comment",
        "z": "361229b3aca0af1b",
        "name": "Refresh",
        "info": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "babd026c42a3d291",
        "type": "file in",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "filename": "timelapse/configurations.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "220142c5195c60f0"
            ]
        ]
    },
    {
        "id": "d9224ab1be2b7502",
        "type": "catch",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "scope": [
            "babd026c42a3d291"
        ],
        "uncaught": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "f3d2012e948d9fa1"
            ]
        ]
    },
    {
        "id": "f3d2012e948d9fa1",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "New File",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "63e28d5de344f27a"
            ]
        ]
    },
    {
        "id": "63e28d5de344f27a",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "Create configurations.json",
        "filename": "timelapse/configurations.json",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "c568639faa7e15e1",
                "220142c5195c60f0"
            ]
        ]
    },
    {
        "id": "220142c5195c60f0",
        "type": "json",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 80,
        "wires": [
            [
                "c34c8b9dd4a824f4"
            ]
        ]
    },
    {
        "id": "17296b78518014f5",
        "type": "link out",
        "z": "361229b3aca0af1b",
        "name": "link out 33",
        "mode": "link",
        "links": [
            "383fa69746213a52"
        ],
        "x": 1285,
        "y": 80,
        "wires": []
    },
    {
        "id": "c34c8b9dd4a824f4",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "timelapse",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 80,
        "wires": [
            [
                "17296b78518014f5"
            ]
        ]
    },
    {
        "id": "99c12ca2604e29fd",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "filename": "timelapse/configurations.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1440,
        "y": 1900,
        "wires": [
            [
                "813abe7215e0589c"
            ]
        ]
    },
    {
        "id": "aec71a9a3738ae28",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1100,
        "wires": [
            [
                "24cd8876e6cca5ad"
            ]
        ]
    },
    {
        "id": "24cd8876e6cca5ad",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "e171c91d5a87efa7",
        "name": "configurations.json",
        "filename": "timelapse/configurations.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1930,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "970e718ff846920a",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "filename": "timelapse/location.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 910,
        "y": 2860,
        "wires": [
            [
                "484777232c4bfacb"
            ]
        ]
    },
    {
        "id": "b4492f49b1f0df9f",
        "type": "file in",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "filename": "timelapse/location.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "3a5f29c06e4c985f"
            ]
        ]
    },
    {
        "id": "3a5f29c06e4c985f",
        "type": "json",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "f4875309ab286a8f"
            ]
        ]
    },
    {
        "id": "f4875309ab286a8f",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "e8e46b96b1dd7f54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a6a6e754e39d1c35",
        "type": "file",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "filename": "timelapse/configurations.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1440,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "f4bed7533ba9cb48",
        "type": "change",
        "z": "361229b3aca0af1b",
        "g": "c9758c373e6e7771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timelapse",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 2140,
        "wires": [
            [
                "a6a6e754e39d1c35"
            ]
        ]
    },
    {
        "id": "c676616b1698cc39",
        "type": "function",
        "z": "361229b3aca0af1b",
        "g": "47e4a93f5115f31b",
        "name": "ffmpeg",
        "func": "var ffmpeg ='ffmpeg -y -framerate ' + msg.timelapse.fps;\nffmpeg += ' -pattern_type glob -i \"timelapse/images/' + msg.timelapse.id + '/*.jpg\"';\nffmpeg += ' -c:v libx264 \"timelapse/recordings/' + msg.timelapse.filename + '\"';\nmsg.payload = ffmpeg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 900,
        "wires": [
            [
                "08b3ae9803d7e929"
            ]
        ]
    },
    {
        "id": "b5a619ea1e40e43e",
        "type": "moment",
        "z": "361229b3aca0af1b",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Stockholm",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "MMM DD HH:mm:ss",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Stockholm",
        "x": 740,
        "y": 600,
        "wires": [
            [
                "d03c2f8e92752aab"
            ]
        ]
    },
    {
        "id": "74f416101dd5ec62",
        "type": "moment",
        "z": "361229b3aca0af1b",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Stockholm",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Stockholm",
        "x": 1200,
        "y": 880,
        "wires": [
            [
                "dec7ddec84046ddb"
            ]
        ]
    },
    {
        "id": "89b98e6f82bb2021",
        "type": "dir2files",
        "z": "361229b3aca0af1b",
        "name": "",
        "dirname": "",
        "pathRegex": "",
        "isRecursive": false,
        "findDir": false,
        "isArray": true,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "72a72be1bcdd6a6b"
            ]
        ]
    },
    {
        "id": "85729cdeb28456cc",
        "type": "ui_worldmap",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "group": "69fcc21b90a7194e",
        "order": 1,
        "width": "17",
        "height": "9",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 660,
        "y": 2240,
        "wires": []
    },
    {
        "id": "6e2e2117ac1f4ab1",
        "type": "sun events",
        "z": "361229b3aca0af1b",
        "testmode": false,
        "verbose": "N",
        "topic": "",
        "name": "",
        "x": 590,
        "y": 2440,
        "wires": [
            [
                "17bd0c9411df7515",
                "8d48e58623e73325",
                "672db18eb6e8d40c",
                "d806e0a611ea9585",
                "a40d3deb29f34c94"
            ],
            [
                "49cc32b3e4c4ff73"
            ]
        ]
    },
    {
        "id": "2d95680c52a44d71",
        "type": "worldmap in",
        "z": "361229b3aca0af1b",
        "g": "8ea9106583e04561",
        "name": "",
        "path": "/worldmap",
        "events": "disconnect,point,bounds",
        "x": 380,
        "y": 2860,
        "wires": [
            [
                "8ad022fa1f73621e"
            ]
        ]
    }
]